html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  background: black;
  padding: 0.7rem;
  border-radius: 1%px;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav li {
  margin: 0.5rem 0;
}

@media screen and (min-width: 760px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav li {
    padding: 0 3rem;
  }
}
