html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

.it {
  font-family: Lora, serif;
  font-style: italic;
  font-size: 1.5rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 60px;
  border: 3px solid black;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
